body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.login{
    overflow: hidden;
    height: 100vh;
}
.login>img{
    opacity: 0.5;
    width: 100%;
}
.main-background{
    max-height: 600px;
    overflow: hidden;
    width: 100%;
}
.main-background>img{
    opacity: 0.5;
    width: 100%;
}

/*login form start*/

.login-page {
    width: 360px;
    padding: 101px 0 0;
    position: absolute;
    top: 0px;
    margin-left: 38%;
}
.login-form>p {
    text-align: left;
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 20px;
}
.login-form>button>img {
    width: 10px;
    margin-right: 8px;
}
.login-form>p:nth-child(3), .login-form>p:nth-child(5){
    font-weight: 400
}

.login-form>p:nth-child(7) {
    font-weight: 400;
    font-size: 14px;
}

.loginHeader {
    font-size: 25px;
    padding: 20px 30px 20px 30px;
    text-align: left;
    background-color: #0d3326;
    color: white;
    font-weight: 100;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    outline: 0;
    width: 100%;
    margin: 0 0 15px;
    padding: 9px;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #c3d2db
}
.form button {
    text-transform: uppercase;
    outline: 0;
    background: #00693B;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.loginbox-error, .claim-number-error, .taxonomy-error {
    color: red;
    font-style: italic;
}
span.password-watch {
    background-image: url(../images/show.png);
    position: absolute;
    right: 38px;
    width: 20px;
    height: 19px;
    margin-top: 11px;
    cursor: pointer;
    background-repeat: no-repeat
}
.input-error{
    border-color: red!important;
    color: red;
    border: 1px solid;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
input#remember-me {
    float: left;
    width: 19px;
    height: 20px;
    margin-right: 6px;
}
.form label{
    float: left;
    font-size: 15px;
    margin-left: -6px;
}
#forgotUsername, #signUp {
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    color: #00693B;
}
.forgotSection{
    display: block;
    margin-top: 10px;
    height: 28px;
}
.forgotSection>span:nth-child(1){
    float: left;
}
.forgotSection>span:nth-child(2){
    float: right;
}
/*login form end*/

/*claim form start*/
.claim-container {
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
p.claim-error-text {
    margin-left: 20px;
    margin-bottom: 0px;
    color: red;
    font-style: italic;
}
.claim-container>.header>img, .claim-detail-container>.header>img {
    opacity: 1;
    width: 100%;
}
.header{
    display: block;
    width: 100%;
}
.claim-container>.header>img:nth-child(2){
    width: 95%;
    margin: 0 2.5%;
}
.claimText {
    margin-left: 20px;
    font-size: 20px;
    color: #00693B;
    margin-right: 20px;
    border-bottom: 1px solid #c3d2db;
}
.claimText>p{
    margin-top: 10px;
    margin-bottom: 10px;
}
form.claim-form {
    margin: 0 20px 0 20px;
    width: 75%;
    display: inline-block;
}
span.claim-number {
    display: inline-block;
    width: 50%;
    float: left;
}
span.taxonomy {
    display: inline-block;
    width: 50%;
    float: left;
}
input#claim-number {
    width: 65%;
    height: 27px;
    box-sizing: border-box;
    border: 1px solid #c3d2db;
    font-size: 14px;
    padding-left: 5px;
}
div#taxonomy {
    width: 65%;
    height: 27px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 1px solid #c3d2db;
    font-size: 14px;
}
#taxonomy>p{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}
span.taxonomy-img {
    background-image: url(../images/dropdown.png);
    position: absolute;
    width: 16px;
    height: 9px;
    margin-top: 9px;
    cursor: pointer;
    right: 37%;
}
.claim-submit-container {
    margin: 20px 20px 0 20px;
}
.claim-submit-container>button {
    text-transform: uppercase;
    outline: 0;
    background: #00693B;
    width: 120px;
    border: 0;
    height: 34px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 24.5%;
    max-height: 100px;
    overflow: auto;
}
.dropdown-content div {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content div:hover {
    background-color: #f1f1f1;
}
.show {
    display:block;
}
div#taxDrpDown {
    font-size: 14px;
}
/*claim form end*/

/*claim details form start*/
.claim-detail-text {
    margin-left: 20px;
    font-size: 20px;
    color: #00693B;
    margin-right: 20px;
    border-bottom: 1px solid #c3d2db;
    margin-bottom: 25px;
}
.claim-detail-text>p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    color: black;
    font-size: 25px;
}
a#back-prev-page {
    font-size: 13px;
    display: block;
    margin-bottom: 25px;
    cursor: pointer;
}
#member-info-container, #claim-details-container, #charge-details-container {
    margin: 0 20px 20px 20px;
}
.member-info-header, .claim-details-header, .charge-details-header {
    background-color: #00693B;
    color: white;
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
}
.member-info-body, .claim-details-body, .charge-details-body {
    border: 1px #00693B solid;
    font-size: 15px;
}
span.left-claim-details, span.right-claim-details {
    display: inline-block;
    width: 45%;
    padding: 15px;
    vertical-align: top;
}
label.patient-name-label, label.service-date-label, label.claim-number-label, label.status-label, label.patient-amount-billed-label, label.service-amount-paid-coverage-label, label.claim-amount-paid-coverage-to-label, label.address-label, label.claim-address-label {
    font-weight: 700;
}
.patient-name-value, .service-date-value, .claim-number-value, .status-value, .patient-amount-billed-value, .service-amount-paid-coverage-label, .claim-amount-paid-coverage-to-label, .address-value, .city-value, .country-value, .claim-amount-paid-coverage-to-value, .service-amount-paid-coverage-value, .claim-address-value, .claim-city-value, .claim-country-value{
    display: inline-block;
    max-width: 60%;
}
.city-value, .country-value, .claim-city-value, .claim-country-value{
    margin-left: 69px;
}
#patientName, #serviceDate, #claimNumber, #status, #patientAmountBilled, #serviceAmountPaid, #claimAmountPaid, #claimAddress{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*claim details form end*/

/*spinner start*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*spinner end*/